- @pins.each do |pin|
  .pin.clearfix
    = image_tag pin.image.url(:medium)
    %h2= link_to pin.title, pin
    %p
      Submitted by
      = pin.user.name
    %p= pin.description
    = link_to "View details", pin, class: "btn btn-info"
